<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

<div class="login" >
  <img src="assets/login.png" />

  <div class="container">
    <h2 class="signup">SIGN UP FOR A PRACTITIONER ACCOUNT</h2>
    <h4 class="sign">
      Already have an account ?
      <span style="color: #287066;">Sign in here</span>
    </h4>
  </div>
  <hr />

  <div>
      <h2>Personal Information</h2>
  </div>
  <div>
  
  </div>
</div>

